In [41]:
import pandas as pd
import numpy as np
import re

In [43]:
df_pop = pd.read_csv('../data/curated_data/vic_pop.csv')

In [44]:
df_pop = df_pop.loc[~(df_pop['2001']==0)]
SA2_list = df_pop['SA2'].values.tolist()

In [15]:
i=	[217041480]
num_year = 2001
df_pop[df_pop['SA2']==i][str(num_year)].iat[0]

12506

In [48]:
df_pop['2022']=0
df_pop['2023']=0
df_pop['2024']=0
df_pop['2025']=0
year = range(2001,2022,1)
for i in SA2_list:
    total_rate = 0
    for num_year in year:
        if num_year == 2021:
            break

        num_year_pop = df_pop[df_pop['SA2']==i][str(num_year)].iat[0]
        next_year_pop = df_pop[df_pop['SA2']==i][str(num_year+1)].iat[0]
        total_rate += float(next_year_pop/num_year_pop)
    avg_rate = total_rate/(len(year)-1)
    df_pop.loc[df_pop['SA2']==i,'2022']= int(df_pop[df_pop['SA2']==i][str(num_year)]*avg_rate)
    df_pop.loc[df_pop['SA2']==i,'2023']= int(df_pop[df_pop['SA2']==i][str(num_year+1)]*avg_rate)
    df_pop.loc[df_pop['SA2']==i,'2024']= int(df_pop[df_pop['SA2']==i][str(num_year+2)]*avg_rate)
    df_pop.loc[df_pop['SA2']==i,'2025']= int(df_pop[df_pop['SA2']==i][str(num_year+3)]*avg_rate)

In [49]:
df_pop

,SA2,SA2 name,2001,2002,2003,2004,2005,2006,2007,2008,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,201011001,Alfredton,5756,6092,6293,6480,6648,6761,7034,7272,...,11852,12639,13520,14408,15472,16823,17752,18733,19768,20860
1,201011002,Ballarat,11497,11708,12015,12189,12269,12356,12408,12480,...,12301,12261,12237,12311,12183,12076,12106,12136,12166,12196
2,201011003,Ballarat - North,20268,20586,20838,21000,21134,21279,21492,21736,...,23539,23836,24031,24235,24299,24348,24572,24798,25026,25256
3,201011004,Ballarat - South,20424,20389,20407,20314,20423,20534,20911,21470,...,24654,24983,25265,25406,25395,25269,25540,25814,26091,26371
4,201011005,Buninyong,5320,5399,5557,5620,5857,6037,6131,6252,...,7311,7407,7413,7452,7369,7232,7344,7458,7574,7691
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457,217031476,Otway,3452,3479,3511,3511,3492,3459,3489,3501,...,3556,3633,3707,3797,3905,3978,4006,4034,4062,4091
458,217041477,Moyne - East,6718,6704,6676,6643,6638,6652,6606,6631,...,6709,6714,6741,6790,6873,6989,7002,7015,7029,7043
459,217041478,Moyne - West,8317,8387,8450,8487,8517,8601,8694,8792,...,9603,9681,9773,9833,9842,9963,10053,10144,10236,10328
460,217041479,Warrnambool - North,17053,17449,17726,17937,18172,18528,18877,19107,...,21442,21676,21934,22157,22379,22462,22773,23089,23409,23733
461,217041480,Warrnambool - South,12506,12578,12639,12697,12748,12792,12839,12903,...,13173,13192,13214,13247,13323,13292,13332,13372,13412,13452

In [50]:
df_pop.to_csv('../data/curated_data/01_25_pop.csv',index = False)